extends ../../layout.pug

block contenido
	div(class="col-md-6 remove-float center-block biggest-top-space")
		h1 Subir nueva imagen
		form(action="/sessions", method="POST")
			div(class="form-group")
				label(for="title") Titulo
				input(type="text", name="title", placeholder="Titulo", id="title", class="form-control")
			
			div(class="form-group")
				label(for="imagen") Imagen
				input(type="file", name="imagen", id="imagen")
			
			div(class="row form-group top-space")
				div(class="col-xs-12 col-sm-6")
					input(type="submit", value="Subir", class="btn btn-success")
