extends ../layout.pug

block contenido
	h1 Hola #{user.email}
	div(class="img-container")
		for image in images
			h1= image.title
			img(src="/images/"+image._id+"."+image.extension)
			if(typeof image.creator != "undefined")
				p Subido por #{image.creator.email}